*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;

  color: #0d1111;
  background-color: powderblue;
  font-family: 'Patrick Hand', cursive;
}

/*Journal*/
.journal {
  position: relative;
  width: 350px;
  height: 500px;
  transition: transform 0.5s;
}

.paper{
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  perspective: 1500px;
}

.front,
.back{
  background-color: #f7fcfd;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  transform-origin: left;
  transition: transform 0.5s;
}

.front{
  z-index: 1;
  backface-visibility: hidden;
  border-left: 3px solid powderblue;
}

.back{
  z-index: 0;
}

.back-content,
.front-content{
  display: flex;
  height: 100%;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.back-content{
  transform: rotateY(180deg);
}

/*Horizontal list*/
.horizontal-list{
  margin-left: 20px;
}

/*Vertical list*/
.vertical-list{
  margin-left: 20px;
}

/*Paper flip effect*/
.flipped .front,
.flipped .back{
  transform: rotateY(-180deg);
}

/*Controller buttons*/
button{
  border: none;
  background-color: transparent;
  cursor: pointer;
  margin: 10px;
  transition: transform 0.5s;
}

button:focus{
  outline: none;
}

button:hover i{
  color: #636363;
}

i{
  font-size: 50px;
  color: gray;
}

/*Paper stack order*/
#page1{
  z-index: 3;
}

#page2{
  z-index: 2;
}

#page3{
  z-index: 1;
}
